extends layout

block content
  main
    div.content.mw2
      p Hi there. I'm a web developer in Seattle, WA. I love JavaScript, making the web better, challenges, and learning new skills. Oh, and photography.
      p I work for the #[a(href='http://www.seattletimes.com', target='_blank') Seattle Times&#39;] news and subscriber websites. I also have a background in media, publishing and advertising.
      h2 projects
      ul
        li #[a(href='http://www.seattletimes.com/life/travel/washingtons-wild-and-magical-shi-shi-beach-2/') Immersive Template] for showcasing image-centric news articles img(src='http://static.seattletimes.com/wp-content/uploads/2015/08/ShiShiBeach_CROP-780x391.jpg')
        li #[a(href='') Image gallery]
        li #[a(href='http://www.seattletimes.com/subscribe/signup-offers/') Subscription landing page]