extends layout

block content
  main
    div.content.mw2
      p Welcome. I'm a web developer in Seattle, WA. Currently, I work primarily in JavaScript and PHP. I'm also familiar with Java and Python and I love learning new languages and new skills. This site is built in Node.js, using an express framework and jade templating.
      p I create subscription payment and management pages, image galleries, and more for the #[a(href='http://www.seattletimes.com', target='_blank') Seattle Times]. I also have a background in media, publishing and advertising.
      p In addition to coding, I love taking pictures, and my photography is featured on this site as well.