doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  body.pa4.sans.f6.lh2
    block header
      header
        h1.f2.lh1= title
        nav
          ul.pa0.mv3
            li.dib.mr2 #[a(href='/') home]
            li.dib.mr2 #[a(href='/photos') photos]
            li.dib.mr2 #[a(href='/code') code]
            li.dib.mr2 #[a(href='/blog') blog]
    block content
    block footer
      footer 
        ul.pa0.mv3
          li.dib.mr2 #[a(href='https://github.com/robynm', target='_blank') github]
          li.dib.mr2 #[a(href='https://www.linkedin.com/in/robyn-meshulam-a6822b54', target='_blank') linkedin]
          li.dib.mr2 #[a(href='https://www.flickr.com/photos/23451535@N06/', target='_blank') flickr]
    script(type="text/babel", src="/javascripts/js-source/photos.js")
