extends layout

block content
  main.mw3.mv3.mh0
    h2.f4.lh1= page_title
    
    div#container
    
  //  
    div#album.tra.df.flw.center-fl
      each val in pics
        picture.di.ma3
          img(class='tra' src='https://farm' + val.farm + '.staticflickr.com/' + val.server + '/' + val.id + '_' + val.secret + '_q.jpg')
    button(class="btn b db sans f7 pv1 ph2 center-b mv3", action="more") more