extends layout

block content
  main
    h2= page_title
    p photos
    
    each val in pics
      img(src='https://farm' + val.farm + '.staticflickr.com/' + val.server + '/' + val.id + '_' + val.secret + '.jpg')
  