// constants
$color-blue: #00B7FF;
$color-dark-blue: #0066A1;
$color-light-gray: #EEEEEE;
$color-gray: #DDDDDD;
$color-border-light: #D5D5D5;
$color-border-mid: #CCCCCC;
$font-sans: "Lucida Grande", Helvetica, Arial, sans-serif;

// global
a { color: $color-blue; }
a:hover { color: $color-dark-blue; }
li { list-style: none; }

// width
.mw1 { max-width: 12rem; }
.mw2 { max-width: 25rem; }
.mw3 { max-width: 50rem; }

// display
.dn { display : none; }
.db { display : block; }
.di { display : inline; }
.df { display : flex; }
.dib { display : inline-block; }

.flw { flex-wrap: wrap; }
.center-fl { justify-content: center; }
.center-b { margin-left: auto; margin-right: auto; }
.center { text-align: center; }

// type
.normal { font-weight: normal; }
.b { font-weight: bold; }

.sans { font-family: $font-sans; }

.f1 { font-size: 2rem; }
.f2 { font-size: 1.75rem; }
.f3 { font-size: 1.5rem; }
.f4 { font-size: 1.25rem; }
.f5 { font-size: 1rem; }
.f6 { font-size: .875rem; }
.f7 { font-size: .75rem; }

.lh1 { line-height: 1em; }
.lh2 { line-height: 1.5em; }
.lh3 { line-height: 2em; }


// transitions
.tra { transition: 1s all ease; }

@keyframes fadein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.fadein { animation: 2s ease fadein; }


// borders
.bn { border-style: none; }
.ba { border-style: solid; border-width: 1px; }
.br0 { border-radius: 0; }
.br1 { border-radius: .25rem; }
.br2 { border-radius: .5rem; }
.b--light-gray { border-color: $color-border-light; }
.b--gray { border-color: $color-border-mid; }

// backgrounds
.bgn { background: none; }
.bg--light-gray { background-color: $color-light-gray; }
.bg--gray { background-color: $color-gray; }

// modules
.btn {
  @extend .bg--light-gray;
  @extend .ba;
  @extend .b--light-gray;
  @extend .br1;

  &:hover {
    @extend .bg--gray;
    @extend .b--gray;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 .25rem;
  }
}

// margins
.ma0 { margin: 0; }
.ma1 { margin: .25rem; }
.ma2 { margin: .5rem; }
.ma3 { margin: 1rem; }
.ma4 { margin: 2rem; }
.ma5 { margin: 4rem; }
.ml0 { margin-left: 0; }
.ml1 { margin-left: .25rem; }
.ml2 { margin-left: .5rem; }
.ml3 { margin-left: 1rem; }
.ml4 { margin-left: 2rem; }
.ml5 { margin-left: 4rem; }
.mr0 { margin-right: 0; }
.mr1 { margin-right: .25rem; }
.mr2 { margin-right: .5rem; }
.mr3 { margin-right: 1rem; }
.mr4 { margin-right: 2rem; }
.mr5 { margin-right: 4rem; }
.mt0 { margin-top: 0; }
.mt1 { margin-top: .25rem; }
.mt2 { margin-top: .5rem; }
.mt3 { margin-top: 1rem; }
.mt4 { margin-top: 2rem; }
.mt5 { margin-top: 4rem; }
.mb0 { margin-bottom: 0; }
.mb1 { margin-bottom: .25rem; }
.mb2 { margin-bottom: .5rem; }
.mb3 { margin-bottom: 1rem; }
.mb4 { margin-bottom: 2rem; }
.mb5 { margin-bottom: 4rem; }
.mh0 { @extend .ml0; @extend .mr0; }
.mh1 { @extend .ml1; @extend .mr1; }
.mh2 { @extend .ml2; @extend .mr2; }
.mh3 { @extend .ml3; @extend .mr3; }
.mh4 { @extend .ml4; @extend .mr4; }
.mh5 { @extend .ml5; @extend .mr5; }
.mv0 { @extend .mt0; @extend .mb0; }
.mv1 { @extend .mt1; @extend .mb1; }
.mv2 { @extend .mt2; @extend .mb2; }
.mv3 { @extend .mt3; @extend .mb3; }
.mv4 { @extend .mt4; @extend .mb4; }
.mv5 { @extend .mt5; @extend .mb5; }

// padding
.pa0 { padding: 0; }
.pa1 { padding: .25rem; }
.pa2 { padding: .5rem; }
.pa3 { padding: 1rem; }
.pa4 { padding: 2rem; }
.pa5 { padding: 4rem; }
.pl0 { padding-left: 0; }
.pl1 { padding-left: .25rem; }
.pl2 { padding-left: .5rem; }
.pl3 { padding-left: 1rem; }
.pl4 { padding-left: 2rem; }
.pl5 { padding-left: 4rem; }
.pr0 { padding-right: 0; }
.pr1 { padding-right: .25rem; }
.pr2 { padding-right: .5rem; }
.pr3 { padding-right: 1rem; }
.pr4 { padding-right: 2rem; }
.pr5 { padding-right: 4rem; }
.pt0 { padding-top: 0; }
.pt1 { padding-top: .25rem; }
.pt2 { padding-top: .5rem; }
.pt3 { padding-top: 1rem; }
.pt4 { padding-top: 2rem; }
.pt5 { padding-top: 4rem; }
.pb0 { padding-bottom: 0; }
.pb1 { padding-bottom: .25rem; }
.pb2 { padding-bottom: .5rem; }
.pb3 { padding-bottom: 1rem; }
.pb4 { padding-bottom: 2rem; }
.pb5 { padding-bottom: 4rem; }
.ph0 { @extend .pl0; @extend .pr0; }
.ph1 { @extend .pl1; @extend .pr1; }
.ph2 { @extend .pl2; @extend .pr2; }
.ph3 { @extend .pl3; @extend .pr3; }
.ph4 { @extend .pl4; @extend .pr4; }
.ph5 { @extend .pl5; @extend .pr5; }
.pv0 { @extend .pt0; @extend .pb0; }
.pv1 { @extend .pt1; @extend .pb1; }
.pv2 { @extend .pt2; @extend .pb2; }
.pv3 { @extend .pt3; @extend .pb3; }
.pv4 { @extend .pt4; @extend .pb4; }
.pv5 { @extend .pt5; @extend .pb5; }

.flex-container {
  @extend .df, .flw;
}

.thumbnail {
  background: $color-gray center center no-repeat;
  width: 212px;
  height: 230px;

  a {
    text-decoration: none;
    color: transparent;
    @extend .db;
    width: 100%;
    height: 100%;
    transition: .2s all ease;
  }

  a:hover, a:focus, a:active {
    color: white;
    background-color: rgba(0,0,0,.5);
  }
}