$color-blue: #00B7FF;
$color-dark-blue: #0066A1;
$color-light-gray: #eaeaea;
$color-dark-gray: rgb(66, 70, 72);
$font-sans: "Lucida Grande", Helvetica, Arial, sans-serif;

body {

  @media (min-width: 460px) {
    padding: 50px;  
  }
  
  font: 14px/1.5em $font-sans;
}

a {
  color: $color-blue;
}

a:hover {
  color: $color-dark-blue;
}

button {
  border: 1px solid black;
  background: none;
  font: 12px $font-sans;
  padding: 10px 30px;
  margin: 20px auto;
  display: block;
}

button:hover {
  color: $color-dark-blue;
  border-color: $color-dark-blue;
}

button:focus {
  outline: none;
}

nav li, footer li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  margin-right: 10px;
}

nav ul, footer ul {
  padding: 0;
  margin: 1.34em 0;
}

.c1 {
  max-width: 400px;
}

.c2 {
  max-width: 800px;
}

main {
  margin: 30px 0;

  .album {
    transition: 2s all ease;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  picture {
    display: inline-block;
    margin: 3%;

    img {
      transition: 2s all ease;
    }
  }
}
